@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    border-radius: 0 !important;
  }

  html {
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', 'Geist Sans', system-ui, sans-serif;
  }

  ::selection {
    background-color: #27272A;
    color: #ffffff;
  }
}
